* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    padding: 0;
    color: #1F3E72;
    /* background-color: lightblue; */
}

/* Barra de navegacion */

header {
    background-color: rgba(255, 255, 255, 0.9);
    height: 13vh;
    position: absolute;
    width: 100%;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.menu-item{
    display: inline;
    padding-right: 1em;
    position: relative;
    left: 85%;
    font-size: large;
    font-weight: 600;    
}

#logo {
    position: relative;
    left: 50px;
    font-size: x-large;
    font-weight: bold;
    color: #2C4CCA;
}

.barra-nav a{
    text-decoration:none;
    align-items: center;
    transition: all ease-in-out .2s;
    color: #8b8887;
}

.barra-nav li a:hover{
    color: #1F3E72;
}

button{
    background-color: #2C4CCA;
    color: white;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    border: 0px;
    border-radius: 4px;
    padding: 15px 8px;
    font-size: medium;
}


.button-nav:hover, .button-schedule:hover{
    background-color: #1F3E72;
    cursor: pointer;
}


/* Main */
/* Primer seccion */
main{
    height: 1200px;
    width: 100%;
    /* background-color: lightblue;  */
}

.section1{
    display: flex;
    height: 624px;
    background-image: url(../img/calcetin.png);
    /* background-color: lightblue; */
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50% 100%;
    width: 100%;
}

.part1-text{
    height: 30vh;
    position:absolute;
    top: 150px;
    left: 90px;
}


h1{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 55px;
    line-height: 55px;
}

.text {
    color: #8b8887;
    font-size: 18px;
    line-height: 20px;
}

.material-icons {
    background: #3353d11c;
    color: #3353d1;
    margin-right: 5px;
    border-radius: 3px;
    padding: 5px;
}

.green {
    background: #ffd0121f;
    color: #ffd012;
}

.part1-icon {
    position: absolute;
    font-weight: 600;
    font-size: small;
    display: flex;
    top: 55%;
    left: 90px;
}

.text-icon-shield {
    position: absolute;
    left: 190px;
    top: 6px;
}

.text-icon-star {
    position: absolute;
    left: 40px;
    top: 6px;
}

#star {
    margin-left: 110px;
}

.part2-icon {
    display: flex;
    position: absolute;
    font-weight: 600;
    font-size: x-large;
    top: 73%;
    left: 90px;
    /* background-color: yellowgreen;
    padding: 10px; */
}

.schedule{
    position:relative;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    top: 510px;
    left: 90px;
    background-color: rgb(255, 255, 255,0.9);
    width: 800px;
    height: 90px;
    border-radius: 4px;
    border: rgba(128, 128, 128, 0.349) 1px solid;
    box-shadow: 3px 3px 8px rgb(191, 197, 212);
    z-index: 0;
    padding: 10px;
}


select, .input-date {
    padding-left: 30px;
    border: none;
    font-family: 'League Spartan', sans-serif;
    font-size: x-large;
    font-weight: 600;
    background-color: rgb(255, 255, 255,0.9)
}

/* quitar icono de calendario */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    }

.button-schedule {
    width: 100px;
    height: 50px;
    position: relative;
    left: 10px;
    top: 10px;
}


/* Seccion 2 */
/* Logos de vacunas */

.sec2-logos-vaccines {
    display: flex;
    flex-flow: row wrap;
    filter: grayscale(100%) opacity(18%);
    height: 14%;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.sec2-logos-vaccines img {
    width: 18%;
}

#logos-vaccine-pfizer {
    height: 50px;
    top: 30px;
}

  /* Por que deberia vacunarme */

h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 28px;
    line-height: 30px;
}

h4{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.item{
    font-size: small;
}

.part1-text2{
    position: relative;
    left: 90px;
    width: 90%;
}

.part2-cont{
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 2%;
}

.part2-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 15%;
}

.card {
    margin: 1%; 
    border: 1px solid rgba(128, 128, 128, 0.151);
    box-shadow: 0 2px 2px rgba(0, 0, 255, 0.26);    
    border-radius: 4px;
    margin: 10px;
    width: 20%;
    height: 250px;
    overflow: hidden;
}

.card span{
    margin-top: 15px;
}

.card p{
    margin-top: 15px;
    padding: 0 15px;
    font-size: small;
}

.card h4{
    margin-top: 15px;
    padding: 0 15px;
    font-size: 20px;
    margin-top: 20px;
}

.card-body {
    margin: 15px;
    display: inline;
}

/* Seccion 3 */

.space {
    height: 10vh;
    display: flex;
    width: 100vw;
    background-color: yellowgreen;
}

.part1-text3 {
    text-align: right;
    right: 90px;
    width: 90%;
}